{% extends 'base.html' %}

{% block meta %}
<title>Buat Task</title>
{% endblock meta %}

{% block content %}
<h3>Tugas 4 PBP</h3>
<p>Nama: Johannes Setiawan<p>
<p>NPM : 2106750345<p>
<div class = "buat task">

    <h1>Buat Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Judul Task: </td>
                <td><input type="text" name="judul" placeholder="Judul Task"></td>
            </tr>        
            <tr>
                <td>Deskripsi: </td>
                <td><input type="text" name="deskripsi" placeholder="Deskripsi Task"></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="Buat Task"></td>
            </tr>
        </table>
    </form>
</div>

{% endblock content %}