{% extends 'base.html' %}

{% block meta %}
<title>To Do List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
{% endblock meta %}

{% block content %}

<h3>Tugas 4 PBP</h3>
<p>Nama: Johannes Setiawan<p>
<p>NPM : 2106750345<p>

<h3>List Task Anda</h3>

<h5>Nama User: </h5>
<h5>{{username}}</h5>

</br>
<h5> Task anda dalam card: </h5>

    <div class="row">
    {% for task in tasklist %}
      <div class="col-sm-3">
       <div class="card bg-warning" style="width: 18rem;">
         <div class="card-body">
           <h5 class="card-title">Judul: {{task.title}}</h5>
           <h6 class="card-subtitle mb-2 text-muted">Tanggal Pembuatan: {{task.date}}</h6>
           <p class="card-text">Deskripsi: {{task.description}}</p>
           <p class="card-text"> Selesai?
           {% if task.is_finished %}
                Selesai
                {% else %}
                Belum Selesai
                {% endif%}
           </p>
           <a href="{% url 'todolist:todolist_changeIsFinished' task.id %}" class="btn btn-primary">Ganti Progres</a>
           <a href="{% url 'todolist:todolist_deleteTask' task.id %}" class="btn btn-primary">Hapus Task</a>
         </div>
       </div>
      </div>
    {% endfor %}
    </div>


<button><a href="{% url 'todolist:todolist_createTask' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:todolist_logout' %}">Logout</a></button>



{% endblock content %}