{% extends 'base.html' %}

{% block meta %}
<title>To Do List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
    body {
        background-color: lavenderblush;
    }
    .background-color1 {
        background-color: #979bff;
    }
</style>
{% endblock meta %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-light background-color1">
    <a class="navbar-brand" href="#">Selamat datang, {{username}}!</a>
</nav>

<br>
<h3>List Task Anda</h3>
<br>

    <div class="row">
    {% for task in tasklist %}
      <div class="col-sm-3">
       <div class="card bg-warning" style="width: 18rem;">
         <div class="card-body">
           <h5 class="card-title">Judul: {{task.title}}</h5>
           <h6 class="card-subtitle mb-2 text-muted">Tanggal Pembuatan: {{task.date}}</h6>
           <p class="card-text">Deskripsi: {{task.description}}</p>
           <p class="card-text"> Selesai?
           {% if task.is_finished %}
                Selesai
                {% else %}
                Belum Selesai
                {% endif%}
           </p>
           <a href="{% url 'todolist:todolist_changeIsFinished' task.id %}" class="btn btn-primary">Ganti Progres</a>
           <a href="{% url 'todolist:todolist_deleteTask' task.id %}" class="btn btn-primary">Hapus Task</a>
         </div>
       </div>
      </div>
    {% endfor %}
    </div>

<br>
<a href="{% url 'todolist:todolist_createTask' %}" class="btn btn-secondary">Tambah Task Baru</a>
<a href="{% url 'todolist:todolist_logout' %}" class="btn btn-secondary">Logout</a>

{% endblock content %}